{
  "assumptions": {
    "noDocumentAll": true,
    "privateFieldsAsProperties": true,
    "setClassMethods": true,
    "setComputedProperties": true,
    "setPublicClassFields": true,
    "setSpreadProperties": true
  },
  "presets": [
    [
      "@babel/preset-env",
      { "shippedProposals": true, "useBuiltIns": "usage", "corejs": "3" }
    ],
    "@babel/preset-typescript",
    "@babel/preset-react"
  ]
}
